<div id="addNewCoin" class="reveal tiny" data-reveal data-reset-on-close="true">
  <form id="addCoinForm">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h3>Add Coin</h3>
        <label for="">Ticker</label>
        <input type="text" name="ticker" value="">
        <label for="">Name</label>
        <input type="text" name="name" value="">
        <p class="text-center margin-0"><input type="submit" class="button margin-0" name="" value="CREATE"></p>
      </div>
    </div>
  </form>
  <span data-addCoin-id></span>
</div>
