<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
  {%- if page.excerpt -%}<meta name="description" content="{{ page.excerpt | strip_html }}">{%- endif -%}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="stylesheet" href="{{ '/assets/app.css' | relative_url }}">
  {% if page.title == 'Trends' %}
  <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1243_RC12/embed_loader.js"></script>
  {% endif %}
</head>
