// Global
// ---------

$small-font-size: rem-calc(12);
$small-font-letter-spacing: rem-calc(1.5);
$small-font-weight: 900;
$header-element-lineheight: 1.2;
$container-padding: 12px;
$split-gutter-width: 5px;

$header-element-height: 38px;
$sidenav-item-height: 34px;

// Menu
// ---------

$menu-font-size: $small-font-size;

// Buttons
// ---------

// Tabs
// --------

// Breadcrumbs
// --------

$breadcrumbs-font-weight: $small-font-weight;
$breadcrumbs-letter-spacing: $small-font-letter-spacing;

// Grid
// --------

$grid-padding-bottom: map-get($grid-margin-gutters, medium);

// Toolbar
// --------

$toolbar-height: $header-element-height;
$toolbar-border: 1px solid $medium-gray;
$toolbar-icon-size: rem-calc(17);
$toolbar-icon-spacing: rem-calc(5);

// Widget
// --------

$widget-container-padding: $container-padding;
$widget-content-height: 224px;
$widget-header-height: $header-element-height;
$widget-height: $widget-header-height + $widget-content-height; // Add 1px for border
$widget-double-height: $widget-height * 2 + $grid-padding-bottom;
$widget-carousel-height: 196px;
$widget-carousel-width: 250px;
$add-widget-width: 118px;

// Light Theme (lt)
// --------

$lt_header-text-color: #464d5d;
$lt_body-text-color: #8694a5;
$lt_light-text-color: #aab4c0;
$lt_light-gray-bg: #f0f1f2;

// Reveal
// --------

$reveal-inner-padding: 20px;
