#assetInfo {
  width: calc(0% - 2.5px);
  @include breakpoint(small down){
    width: inherit;
  }
  background-color: $medium-gray-solid;
  overflow-y: auto;
  .tabs-title {
    border-bottom: 2px solid $primary-color;
  }
  .checkbox-wrapper {
    position: absolute;
    left: 0px;
    top: 11px;
    z-index: 1;
  }
  .assetInfo__file-title {
    padding: $form-spacing $form-spacing 0 $form-spacing;
  }
  .accordion-item {
    position: relative;
  }
  .accordion-title {
    padding-left: 28px;
    border-left: none;
    border-right: none;
  }
  .accordion-content {
    border-left: none;
    border-right: none;
    padding: 1rem 0 0 0;
  }
  .asset-info__checkbox-wrapper {
    .small-offset-0 {
      margin-top: 4px;
    }
  }
}
