#notifications {
  width: 500px;
  @include breakpoint(small down){
    width: 300px;
  }
  margin-right: 0;
  margin-left: auto;
  top: 0 !important;
  background-color: $body-background;
  outline: none;
  padding: 0;
  height: 100%;
  overflow-y: visible !important;
  .close-button {
    left: -30px;
  }
  .notifications__content {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 15px;
  }
  #notifications-drilldown {
    @include breakpoint(small down){
      .notification__item {
        padding: 4px 0px;
      }
    }
    a, ul {
      background-color: $body-background;
    }
    .notification__item,
    .js-drilldown-back a {
      padding-left: 0;
      padding-right: 0;
      line-height: 1.5;
    }
    .notification__item-header {
      padding: 10px 0;
    }
  }
}
