.reveal:not(#notifications) {
  overflow-y: visible;
  color: $lt_body-text-color;
  &:focus {
    outline: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $lt_header-text-color;
  }

  hr {
    background: $lt_light-gray-bg;
    margin: 15px 0 20px 0;
    width: 100%;
  }

  .reveal__header {
    margin-bottom: $reveal-padding / 2;
    text-align: center;
    .reveal__title {
      margin-bottom: 0;
    }
    .reveal__subtitle {
      color: $lt_header-text-color;
    }
  }

  .reveal__body {
    text-align: center;
  }

  .reveal__footer {
    text-align: center;
    margin-top: $reveal-inner-padding;

    button {
      margin: 0 10px 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }

  .reveal__tabs {
    margin: 0 -30px;
    border-bottom: 1px solid $lt_light-gray-bg;
    margin-bottom: $reveal-inner-padding;

    &.reveal__hidden-tabs {
      display: none;
    }

    .tabs-title {
      margin-top: -30px;

      > a {
        color: $lt_light-text-color;
      }
      &.is-active > a {
        color: $primary-color;
      }
    }
  }

  select, [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    border-color: $lt_light-gray-bg;
    &:focus {
      border-color: $primary-color;
    }
  }
  select {
    box-shadow: $input-shadow;
  }

  table{
    border: 1px solid $lt_light-gray-bg;

    thead, tbody, tfoot {
      background-color: $white;
      color: $lt_header-text-color;
    }
    tbody tr:nth-child(even) {
      background-color: scale-color($lt_light-gray-bg, $lightness: 50%);
    }
    thead {
      background: $lt_light-gray-bg;
      color: $lt_header-text-color;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: scale-color($body-font-color, $lightness: 20%)
  }

  .last-input {
    input,
    label {
      margin-bottom: 0;
    }
  }

}

#overlay.reveal {
  top: inherit !important;
  height: 100vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
