#settings {
  .settings__container {
    margin-bottom: $grid-padding-bottom;
  }
  .settings__header {
    border-bottom: 1px solid $medium-gray;
    padding: 0 $widget-container-padding;
    color: $white;
    @include header_vertical_align;
  }
  .settings__content {
    padding: 12px 12px 2px;
    .tabs-content {
      border: none;
      background-color: rgba(254, 254, 254, 0.018);
    }
    .tabs.vertical {
      border-color: $medium-gray;
    }
  }
}
