.tabs {
  .is-active a {
    background-color: inherit;
    border-bottom: 2px solid $primary-color;
  }
  .tabs-title {
    @include small-bold-text
    a {
      @include header_vertical_align;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
