.toast {
  width: auto;
  background: #222;
  color: white;
  font-weight: 600;
  top: auto !important;
  bottom: 50px !important;
  min-height: 0px !important;
  height: auto !important;
  &:focus {
    outline: none;
  }
}
