<div class="grid-x grid-padding-x cell" id="usdToEth">
  <div class="large-12 cell">
    <h4>USD to ETH</h4>
    <hr>
    <table class="unstriped margin-0">
      <tbody>
        <tr>
          <td class="text-right">USD:</td>
          <td><input class="margin-0" step="0.001" type="number" name="" rv-value="ethInput"></td>
        </tr>
        <tr>
          <td class="text-right">ETH:</td>
          <td rv-text="ethInput | multiply converters.ETH"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
