#compare_view {
  height:100%;
  padding-bottom:15px;
  >div {
    height: 100%;
    >div {
      height: 100%;
    }
  }
  .compare__img-wrapper {
    background-color: $medium-gray-solid;
    position:relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    img {
      padding: 15px;
      top:0;
      left:0;
      right:0;
      bottom:0;
      position: absolute;
      margin:auto;
    }
  }
  .compare__controls-wrapper {
    position: relative;
    text-align: center;
    background-color: $medium-gray-solid;
    input {
      text-align: center;
    }
  }
  .compare__letter {
    font-size: rem-calc(54);
    position: absolute;
    // top: 15px;
    bottom: 0px;
    margin: auto;
    font-weight: bold;
    color: $light-gray;
    &.compare__letter-a {
      right: 30px;
    }
    &.compare__letter-b {
      left: 30px;
    }
  }

  [data-asset-wrapper] {
    .asset-card__actions {
      visibility: hidden;
      opacity: 0;
      transition: 0.2s ease;
      transform: translateY(20px);
    }
    &:hover {
      .asset-card__actions {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
