---
title: Research
layout: default
function: Research
permalink: /research/
---
<div class="grid-container" id="research">
  <form id="researchForm">

    <div class="grid-x grid-padding-x align-justify">
      <div class="small-12 large-4 cell">
        <h2 class="font-bold"> <span rv-text="research.name"></span> {{ page.title }}</h2>
      </div>
      <div class="small-12 large-4 cell flex-container">
        <select id="researchSelector" class="" name="">
          <option value="" selected="selected" disabled="disabled">Select Coin</option>
          {% for item in site.data.navigation.research %}
          <option value="{{ item.id }}">{{ item.name }}</option>
          {% endfor %}
        </select>
        <div>
          <button id="saveForm" class="button small-bold-text margin-bottom-0 margin-left-1" name="button">SAVE</button>
        </div>
      </div>
    </div>

    <hr class="margin-top-0">

    <div class="grid-x grid-padding-x" rv-show="research.name" style="display:none;">
      <div class="large-8 cell">
        {% include research/textareas.html %}

        <div class="grid-x grid-padding-x" rv-show="research.name" style="display:none;">
          <div class="large-6 cell">
            {% include research/links.html %}
          </div>
          <div class="large-6 cell">
            {% include research/stats.html %}
          </div>
        </div>
      </div>

      <div class="large-4 cell">
        {% include research/overview.html %}
        {% include research/price.html %}
        {% include research/targets.html %}
        {% include research/trading.html %}
        {% include research/rating.html %}
      </div>
    </div>

  </form>
</div>
