<h4 class="primary-color font-bold">Overview</h4>
<table class="aligned">
  <tr>
    <td class="text-right">Recommendation:</td>
    <td class="status-wrapper"><input class="margin-0" type="text" name="recommendation" rv-value="research.recommendation"><span rv-html="research.recommendation | recommendation"></span></td>
  </tr>
  <tr>
    <td class="text-right">Max Allocation:</td>
    <td><input class="margin-0" type="text" name="maxAllocation" rv-value="research.maxAllocation"></td>
  </tr>
</table>
