<h4 class="primary-color font-bold">Price Analysis</h4>
<table class="aligned">
  <tr>
    <td class="text-right">Price:</td>
    <td rv-text="coin.price_usd"></td>
  </tr>
  <tr>
    <td class="text-right">mCap:</td>
    <td rv-text="coin.market_cap_usd | number"></td>
  </tr>
  <tr>
    <td class="text-right">Floor Price:</td>
    <td><input class="margin-0" type="number" step="0.01" name="floorPrice" rv-value="research.floorPrice"></td>
  </tr>
  <tr>
    <td class="text-right">Target Price:</td>
    <td><input class="margin-0" type="number" step="0.01" name="targetPrice" rv-value="research.targetPrice"></td>
  </tr>
  <tr>
    <td class="text-right">Potential:</td>
    <td rv-text="coin.price_usd | potential research.targetPrice"></td>
  </tr>
  <tr>
    <td class="text-right">Potential mCap:</td>
    <td rv-text="coin.price_usd | divide research.targetPrice | multiply coin.market_cap_usd | number"></td>
  </tr>
</table>
