<h4 class="primary-color font-bold">Stats</h4>
<table>
  <tr>
    <td class="text-right">ICO Date:</td>
    <td><input class="margin-0" type="text" name="icoDate" rv-value="research.icoDate"></td>
  </tr>
  <tr>
    <td class="text-right">Developer Qty:</td>
    <td><input class="margin-0" type="text" name="devQty" rv-value="research.devQty"></td>
  </tr>
  <tr>
    <td class="text-right">Team Qty:</td>
    <td><input class="margin-0" type="text" name="teamQty" rv-value="research.teamQty"></td>
  </tr>
  <tr>
    <td class="text-right">Peer Coins:</td>
    <td><input class="margin-0" type="text" name="peers" rv-value="research.peers"></td>
  </tr>
</table>
