<h4 class="primary-color font-bold">Price Targets</h4>
<table>
  <tr>
    <td colspan="2" class="text-right">Floor Price:</td>
    <td colspan="2"><input class="margin-0" type="number" step="0.01" name="floorPrice" rv-value="research.floorPrice"></td>
  </tr>
  <tr>
    <td>Targets:</td>
    <td class="text-center">1m:</td>
    <td class="text-center">1q:</td>
    <td class="text-center">1y:</td>
  </tr>
  <tr>
    <td>Price:</td>
    <td class="text-center"><input class="text-center margin-0" type="number" step="0.01" name="targetPrice1m" rv-value="research.targetPrice1m"></td>
    <td class="text-center"><input class="text-center margin-0" type="number" step="0.01" name="targetPrice1q" rv-value="research.targetPrice1q"></td>
    <td class="text-center"><input class="text-center margin-0" type="number" step="0.01" name="targetPrice1y" rv-value="research.targetPrice1y"></td>
  </tr>
  <tr>
    <td>Upside:</td>
    <td class="text-center" rv-text="coin.price_usd | potential research.targetPrice1m"></td>
    <td class="text-center" rv-text="coin.price_usd | potential research.targetPrice1q"></td>
    <td class="text-center" rv-text="coin.price_usd | potential research.targetPrice1y"></td>
  </tr>
  <tr>
    <td>mCap:</td>
    <td class="text-center" rv-text="coin.price_usd | divide research.targetPrice1m | multiply coin.market_cap_usd | number"></td>
    <td class="text-center" rv-text="coin.price_usd | divide research.targetPrice1q | multiply coin.market_cap_usd | number"></td>
    <td class="text-center" rv-text="coin.price_usd | divide research.targetPrice1y | multiply coin.market_cap_usd | number"></td>
  </tr>
</table>
