<h4 class="primary-color font-bold">Verdict</h4>
<textarea name="verdict" rows="4" rv-text="research.verdict | textarea"></textarea>

<h4 class="primary-color font-bold">Management Review</h4>
<textarea name="mgmtReview" rows="4" rv-text="research.mgmtReview | textarea"></textarea>

<h4 class="primary-color font-bold">Product Review</h4>
<textarea name="productReview" rows="4" rv-text="research.productReview | textarea"></textarea>

<h4 class="primary-color font-bold">News & Events</h4>
<textarea name="newsEvents" rows="4" rv-text="research.newsEvents | textarea"></textarea>
