<h4 class="primary-color font-bold">Trading</h4>
<table class="aligned">
  <tr>
    <td class="text-right">Price 1hr:</td>
    <td><span rv-text="coin.percent_change_1h"></span>%</td>
  </tr>
  <tr>
    <td class="text-right">Price 24hr:</td>
    <td><span rv-text="coin.percent_change_24h"></span>%</td>
  </tr>
  <tr>
    <td class="text-right">Price 7d:</td>
    <td><span rv-text="coin.percent_change_7d"></span>%</td>
  </tr>
  <tr>
    <td class="text-right">24hr Volume:</td>
    <td rv-text="coin.24h_volume_usd | number"></td>
  </tr>
</table>
