<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="{{ page.id }}" class="{{ page.name | remove: 'html' | slugify }}-page" >
    {% include navigation.html %}
    {% include tools/tools.html %}
    <div class="off-canvas-content flex-container" data-off-canvas-content>
      {% include toolbar.html %}
      <main id="main" class="flex-child-grow padding-top-1 padding-bottom-1" data-page="{{ page.function }}">
        {{ content }}
      </main>
    </div>
    {% include scripts.html %}
  </body>
</html>
