<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="{{ page.id }}" class="{{ page.name | remove: 'html' | slugify }}-page" >
    {% include tools/tools.html %}
    <div class="off-canvas-content" data-off-canvas-content>
      {% include toolbar.html %}
      <main id="main" data-page="{{ page.function }}">
        {{ content }}
      </main>
    </div>
    <div class="reveal callout padding-1 toast" id="toastModal" data-reveal data-overlay="false" data-reset-on-close="true"></div>
    {% include addCoinForm.html %}
    {% include pageProps.html %}
    {% include scripts.html %}
  </body>
</html>
